Repository JamesSingleton/hooks-arsenal, changes with the labels that .github/labeler.yml gives for each.
All labels: tests, hooks, actions

.github/labeler.yml:

tests:
  - __tests__/**/*

hooks: 
  - src/hooks/*

actions:
  - .github/workflows/*

feat(hooks): add useErrorBoundary hook (#157)
  package-lock.json
  package.json
  src/components/ErrorBoundary.jsx
  src/hooks/useErrorBoundary.js
  src/index.js
  src/utils/createErrorBoundaryWrapper.jsx
Labels: hooks

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Labels: none

Notes added by 'git notes add'
  b69fe96040475c1c1ecea8a04c677d1081dac701
Labels: none

chore(action): update stale action
  .github/workflows/stale.yml
Labels: actions

chore(deps): pin dependencies
  package.json
Labels: none

chore(deps): pin dependencies
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jest to v23.13.1
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jest to v23.13.1
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v10.2.4
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v10.2.4
  package-lock.json
  package.json
Labels: none

chore(deps): lock file maintenance
  package-lock.json
Labels: none

chore(deps): lock file maintenance
  package-lock.json
Labels: none

chore(deps): update dependency lint-staged to v10.2.6
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v10.2.6
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint to v7.1.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint to v7.1.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency rollup to v2.10.9
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency rollup to v2.10.9
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency semantic-release to v17.0.8
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency semantic-release to v17.0.8
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency rollup-plugin-terser to v6
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency rollup-plugin-terser to v6
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jest to v23.13.2
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency eslint-plugin-jest to v23.13.2
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency amex-jest-preset-react to v6.1.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency amex-jest-preset-react to v6.1.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency babel-preset-amex to v3.4.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency babel-preset-amex to v3.4.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v10.2.7
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v10.2.7
  package-lock.json
  package.json
Labels: none

chore(deps): update circleci/node docker tag to v10.21.0
  .circleci/config.yml
Labels: none

chore(deps): update circleci/node docker tag to v10.21.0
  .circleci/config.yml
Labels: none

chore(deps): update dependency lint-staged to v10.2.9
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency lint-staged to v10.2.9
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @testing-library/react-hooks to v3.3.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @testing-library/react-hooks to v3.3.0
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @testing-library/react to v10.2.1
  package-lock.json
  package.json
Labels: none

chore(deps): update dependency @testing-library/react to v10.2.1
  package-lock.json
  package.json
Labels: none

chore(deps): update eslint
  package-lock.json
  package.json
Labels: none

chore(deps): update eslint
  package-lock.json
  package.json
Labels: none
